:root {
    /* Define the standard height in one place */
    --header-height: 60px;
    --background-color: #f5f5f5;
    --button-color: #ED8C2B;
    --button-hover-color: #E5E0DB;
    --text-color: #171412;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}

.RegistrationOptions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    text-align: center;
    height: calc(100vh - var(--header-height)); 
    gap: 50px;
    padding: 0px;
    margin: 0px;
    left: 0;
}

.RegistrationOptions img{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    cursor: pointer;
}

.options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.options button{
    width: 250px;
    height: 50px;
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;
    color: var(--text-color);
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.options button:hover {
    background-color: var(--button-hover-color);
}

.options p{
    color: var(--button-color);
    font-size: 12px;
}

@media (max-width: 768px) {
    .RegistrationOptions{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        text-align: center;
        justify-content: center;
        gap: 20px;
    }

    .RegistrationOptions img{
        display: none;
    }
}