:root {
    /* Define the standard height in one place */
    --header-height: 60px;
    --background-color: #f5f5f5;
    --button-color: #ED8C2B;
    --button-hover-color: #E5E0DB;
    --text-color: #171412;
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}
.appbar{
    width: 100%;
    height: var(--header-height);
    /* background-color: var(--background-color); */
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}
.appbar a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
}
.order-form{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: start;
    margin: 20px auto;
    padding-left: 20px;
    gap: 10px;
}
.item-info input{
    height: 30px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.item-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.AddAnotherButton{
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    display: block;
    margin-bottom: 10px;
}
.SubmitOrderButton{
    background-color: var(--button-color);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}
.margineleft{
    margin-left: 20px;
}
.order-section{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}
.image-container{
    width: 49%;
    height: 100%;
}

img{
    width: 100%;
    height: 100%;
    min-width: 90%;
    min-height: 90%;
    object-fit: cover;
}

@media (max-width: 900px){
    .image-container{
        display: none;
    }
    img{
        display: none;
    }
}