:root {
    /* Define the standard height in one place */
    --header-height: 60px;
    --background-color: #f5f5f5;
    --button-color: #ED8C2B;
    --button-hover-color: #E5E0DB;
    --text-color: #171412;
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: var(--text-color);
}

html, body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}
.appbar{
    width: 100%;
    height: var(--header-height);
    color: var(--button-color);
    /* background-color: var(--background-color); */
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}
.appbar a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
}

.image-container{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button{
    background-color: var(--button-color);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 50%;
}
th, td {
    padding: 8px 12px;
    text-align: left;
}
th {
    background-color: #ED8C2B;
}